<div style="margin: 0 auto">
  <div style="background-color:#f1c53f; color: #000000; border-radius:20px 0px 0px 0px">
    <div style="margin:0px; padding:10px; color: #000000; text-align:center; font-family: bold; font-family: Arial, Helvetica, sans-serif";>
      <h1 style="font-size:30px; padding: 15px 30px">Solicitação de devolução de objeto</h1>
      <p style="font-size:19px; line-height:24px; padding:0 30px; text-align:center; margin: 0 0 40px">
        Olá, {{name}}. Recebemos sua solicitação de recuperação de objeto.
        Vá até a instituição a qual seu objeto está localizado e apresente o cógido abaixo
        para recuperá-lo =) . Ah, não se esqueça de levar um documento com foto.<br><br>
        <span style="font-size:22px; padding: 15px 30px">Código de devolução</span><br>
        <span style="font-size:22px; padding: 15px 30px">{{devolutionCode}}</span><br>
        <span style="font-size:14px; color: #000000;">[ Este é um e-mail automático, não é necessário respondê-lo. ]</span>
      </p>
    </div>
  </div>
</div>